* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
}

#nav_about {
    color:#8b8a6d;
}
.body {
    padding:0 320px;
}
.main_header {
    background-color:#D7D3C3;
    width:100%;
    height:190px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:4rem;
    margin-top:180px;
    margin-bottom: 20px;
    background-image: url('assets/about/1st pic.png');
    color: #F5EEE8;
    font-weight: bold;
    text-align: center;
}
.history,.mission {
    padding:50px 0;
    display:flex;
    align-items:center;
}
.history-content {
    display:flex;
    align-items:center;
}
#hist_pic {
    width:2050px;
    height:300px;
}
#hist_text {
    font-size:20px;
}
h1 {
    font-family:'Abhaya Libre';
    color:#333;
}
.history h1 {
    font-family:'Abhaya Libre';
    padding-bottom:20px;
    border-bottom:5px solid #E5D4C4;
    margin-bottom:20px;
    color:#333;
}
.highlight-text {
    color:#8F592B;
    font-weight:bold;
}
.mission {
    display:flex;
    align-items:center;
    justify-content:center;
}
.mission-content {
    border-radius:20px;
    width:50vw;
    padding:23px 50px;
    text-align:justify;
    font-size:1rem;
}
.vision-content {
    border-radius:20px;
    width:50vw;
    padding:32px 50px;
    text-align:justify;
    font-size:1rem;
}
.mission-content h2,.vision-content h2 {
    padding-bottom:20px;
    border-bottom:3px solid #333;
    margin-bottom:20px;
    text-align:center;
    font-family:'Abhaya Libre';
    color: #333;
}
p {
    font-family:'Gantari';
    color:#555;
}
.mission img {
    width:50vw;
    border-radius:20px;
}
.body_divider {
    border:5px solid #E5D4C4;
    margin-bottom:20px;
    width: 100%;
}
.intro p {
    font-size:1.3rem;
}

.intro h1,.intro p, .intro img {
    margin-bottom:20px;
}
#sum_text {
    text-align:center;
    color:#8F592B;
    font-weight:bold;
}
.intro img {
    border-radius:20px;
}
/* .summaryImage {
    background-color: #A6957B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 20px;
} */
.images {
    gap:20px;
    display:flex;
    margin-left:10px;
}
.images img {
    width:700px;
    height:250px;
}
@media (max-width:935px) {
    .body {
        padding:0 15px;
    }
    .history-content,.images {
        flex-direction:column;
    }
    #hist_pic {
        width:100%;
    }
    .images img {
        width:100%;
    }
    
}
@media (max-width:450px) {
    .mission {
        flex-direction:column;
    }
    .mission-content {
        padding:23px 0;
        width:100%;
    }
    .mission img {
        width:100%;
    }
    
}

details 
{ 
    position: relative; 
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
summary 
{ 
    list-style: none; 
    /* border: 1px solid black; */
    padding: 10px;
    font-family:'Gantari';
} 

#readmore {
    font-family: 'Abhaya Libre';
}

details p {
    padding: 10px;
    border: 1px solid black;
}

summary::-webkit-details-marker 
{ 
    display: none; 
} 
summary::after 
{ 
    content: "▼";
    position: absolute; 
    right: 0;
    padding-right: 20px; 
    color: #8B8A6D;
} 
details[open] summary::after 
{ 
    content: "▲";
}

.body h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family:'Abhaya Libre';
    color: #333;
}

.res-shape {
    width:35%;
    height: 53px;
    border: 1px solid #000000;
    background-color: #E5D4C4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family:'Abhaya Libre';
    font-size: 1.5rem;
}

.resize-container {
    margin-bottom: 20px;
}

.resize {
    width: 100%;
    background-color: #E5D4C4;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 50px;
    font-size: 23px;
    margin-bottom: 20px;
    font-family: 'Abhaya Libre';
    color: #343434;
}

p a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    color:#8b8a6d;
    text-decoration: underline;
}

#read_more {
    border: none;
    padding: 10px;
    border-bottom: 1px solid #8B8A6D;
}

#read_more summary {
    list-style: none; 
    /* border: 1px solid black; */
    padding: 10px;
    font-family:'Gantari';
    font-size: 30px;
    color: #7D6F4B;
}

#read_more summary::-webkit-details-marker 
{ 
    display: none; 
} 

#read_more summary::after 
{ 
    content: "▼";
    position: absolute; 
    right: 0;
    padding-right: 20px; 
    color: #8B8A6D;
} 
details#read_more[open] summary::after 
{ 
    content: "▲";
}

details#read_more p {
    border: none;
}

@media (max-width:450px) {
    .res-shape {
        width: 100%;
    }
}