.main_header {
    background-color:#D7D3C3;
    width:100%;
    height:190px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:4rem;
    margin-top:180px;
    margin-bottom: 40px;
    background-image: url('assets/contacts/1st pic.png');
    color: #F5EEE8;
    font-weight: bold;
}

#nav_contact {
    color:#8b8a6d;
}

.body {
    padding: 0 200px;
    gap: 100px;
    display: flex;
}

.ig-social, .fb-social, .tt-social {
    padding: 10px 20px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ig-social p, .fb-social p, .tt-social p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Gantari';
}

.ig-social div, .fb-social div, .tt-social div {
    font-size: 2rem;
}

.socials {
    /* display: flex; */
    justify-content: space-between;
    /* margin-bottom: 40px; */
    flex-wrap: wrap;
    width: 100%;
}

.socials a:hover {
    text-decoration: none;
    color: inherit;
}

.ig-social {
    background-color: #EFE3E3;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ig-social p {
    color: #D62F5A;
    font-weight: bold;
}

.ig-social img, .fb-social img, .tt-social img {
    width: 10%;
}

.fb-social {
    background-color: #4B94F1;
    margin-bottom: 10px;
    border-radius: 10px;
}

.fb-social p {
    color: #ffffff;
}

.tt-social {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contacts {
    margin-top: 20px;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    display: flex;
    border-bottom: 1px solid #8B8A6D;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.container i {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.contact-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 50px;
}

.contact-details a {
    color: inherit;
    text-decoration: none;
    font-family:'Gantari';
    color:#555;
}

.contact-details p {
    font-family:'Gantari';
    color:#555;
}

/* .contact-info div {
    margin-right: 20px;
} */

.contact-details {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    font-family:'Abhaya Libre';
    color:#333;
}

.contact-details a, .contact-details p {
    font-size: 20px;
}

.end {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end p {
    color:#555;
    font-family:'Gantari';
}

.form {
    background-color: #D7D3C3;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
}

/* .form input {
    background-color: inherit;
} */

.form h2 {
    font-family:'Abhaya Libre';
    color:#333;
}

.form h4 {
    border-bottom: 2px solid #8B8A6D;
    padding: 15px;
    margin-bottom: 50px;
    font-family:'Gantari';
    color:#333;
}

.form p {
    font-family:'Gantari';
    color:#333;
}

.radio-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
    font-family:'Gantari';
}

.form-container input {
    color:#555;
}

.form .sub-btn {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #c6c2b4;
    font-family:'Gantari';
}

.form .sub-btn:hover {
    background-color: #ddd9c8;
    font-weight: bold;
}

@media (max-width:935px) {
    .body {
        padding:0 15px;
        flex-direction: column;
    }
    /* .contact-info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .contact-info div {
        margin-bottom: 10px;
    } */

    /* .contacts, .socials{
        flex-direction: column;
    } */

    .contacts {
        gap: 20px;
    }

    .socials {
        gap: 10px;
    }

    .form {
        padding: 30px;
    }
}