.body {
    padding:0 200px;
}

.main_header {
    background-color:#D7D3C3;
    width:100%;
    height:190px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:4rem;
    margin-top:180px;
    margin-bottom: 20px;
    background-image: url('assets/updates/1st pic.png');
    color: #F5EEE8;
    font-weight: bold;
}

h1 {
    margin-top: 40px;
    color: #7D6F4B;
    font-family:'Abhaya Libre';
}

#nav_update {
    color:#8b8a6d;
}

.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.text-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.text-sec h2 {
    border-bottom: 4px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family:'Abhaya Libre';
    color:#333;
}

.text-sec p {
    font-size: 20px;
    text-align: justify;
    font-family:'Gantari';
    color:#555;
}

.container a img {
    width: 100%;
}

.container .date {
    background-color: #E5D4C4;
    border-radius: 20px;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family:'Abhaya Libre';
    font-size: 30px;
    padding: 10px;
    color:#333;
}

@media (max-width:935px) {
    .body {
        padding:0 15px;
    }

    .container {
        flex-direction: column;
    }

    .container img {
        width: 100%;
    }

    .container .date {
        width: 100%;
    }
}